<div [ngClass]="{'color-form':true}">
  <h3>Linear Gradient</h3>

  <label for="linearGradientCenterPoint">Center Point</label>
  <input type="range" id="linearGradientCenterPoint"
         min="0"
         max="1"
         step="0.05"
         value=".50" />


  <label for="linearGradientLeftColor">Left Color</label>
  <input id="linearGradientLeftColor" [style.background]="leftColor" [colorPicker]="leftColor" [value]="leftColor"
         (colorPickerChange)="updateColorField( 'linearGradientLeftColor', $event );leftColor=$event" />

  <label for="linearGradientCenterColor">Center Color</label>
  <input id="linearGradientCenterColor" [style.background]="centerColor" [colorPicker]="centerColor" [value]="centerColor"
         (colorPickerChange)="updateColorField( 'linearGradientCenterColor', $event );centerColor=$event" />

  <label for="linearGradientRightColor">Right Color</label>
  <input id="linearGradientRightColor" [style.background]="rightColor" [colorPicker]="rightColor" [value]="rightColor"
         (colorPickerChange)="updateColorField( 'linearGradientRightColor', $event );rightColor=$event" />

</div>