<div [ngClass]="{'color-form':true}">
  <h3>Linear Gradient Fill</h3>

  <label for="linearGradientCenterPointFill">Center Point</label>
  <input type="range" id="linearGradientCenterPointFill" (change)="updateForm($event)"
         min="0.10"
         max="0.90"
         step="0.05"
         value=".50" />


  <label for="linearGradientLeftColorFill">Left Color</label>
  <input id="linearGradientLeftColorFill" [style.background]="leftColorFill" [colorPicker]="leftColorFill"
         [value]="leftColorFill"
         (colorPickerChange)="updateColorField( 'linearGradientLeftColorFill', $event );leftColorFill=$event" />

  <label for="linearGradientCenterColorFill">Center Color</label>
  <input id="linearGradientCenterColorFill" [style.background]="centerColorFill" [colorPicker]="centerColorFill"
         [value]="centerColorFill"
         (colorPickerChange)="updateColorField( 'linearGradientCenterColorFill', $event );centerColorFill=$event" />

  <label for="linearGradientRightColorFill">Right Color</label>
  <input id="linearGradientRightColorFill" [style.background]="rightColorFill" [colorPicker]="rightColorFill"
         [value]="rightColorFill"
         (colorPickerChange)="updateColorField( 'linearGradientRightColorFill', $event );rightColorFill=$event" />

</div>